body{
    background-color: #f0f0f0;
    background:linear-gradient(#d44b4bef,rgba(57, 156, 255, 0.664));
    background-attachment: fixed;
    margin:none;
    font-family:arial, sans-serif;
}
#form{
    margin:20vh auto 0 auto;
    padding:20px;
    background-color:cornsilk;
    width:400px;
    border-radius:10px;
    border:none;

}
h1{
    text-align:center;
    color:#d44b4bef;
}
form button{
    display:block;
    margin:20px auto 0 auto;
    padding:10px 20px;
    background-color:#d44b4bef;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
    width:100%;
}
.input-group{
    margin-bottom:5px;
    display:flex;
    flex-direction:column;
    font-size:16px;
}
.input-group input{
    margin-top:5px;
    font-size:20px;
    padding:10px;
    border-radius:5px;
    border:1px solid rgba(57, 156, 255, 0.664);
}
.input-group input:focus{
    outline:0;
}
.input-group .error{
    color:red;
    font-size:14px;
    margin-top:5px;
}
.input-group.success input{
    border-color:rgb(66, 229, 66);
}
.input-group.error input{
    border-color:red;
}