    body{
            background: #111;
            color: #8cff66;
            font-family: monospace;
            text-align: center;
        }

        h1 {
            font-size: 35px;
            margin-bottom: 5px;
        }

        #score {
            font-size: 20px;
            margin-bottom: 15px;
        }

        canvas {
            background: #172017;
            border: 5px solid #8cff66;
            box-shadow: 0 0 20px #4cff33;
        }

        button {
            margin-top: 15px;
            padding: 10px 25px;
            background: #8cff66;
            border: none;
            color: #111;
            font-family: monospace;
            font-weight: bold;
            cursor: pointer;
        }

        button:hover {
            background: white;
        }